
body{
    margin-top: 100px  ;
    text-align: center;
}

ul{
     width: 868px ;
    margin-top: 25px;
    text-align: left;
    padding-left: 300px;
}

ul li{
    border: 1px solid grey ;
    list-style: none;
    padding: 5px ;
    width: auto;
    padding-right: auto;
    

}

h1{
    text-align: center ;
    margin-bottom: 0% ;
}
input {
    border: none ;
    width: 100% ;
}
.div{
    margin: auto;
    padding-left: 300px;
    text-align: center;
}